[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF Bugzilla.params.user_verify_class.match('LDAP') %]
  <tr>
    <th>LDAP DN:</th>
    <td><input type="text" name="ldap_dn" size="70" maxlength="255"
               value="[% group.ldap_dn FILTER html %]"></td>
  </tr>
[% END %]
